{
    "cache": false,
    "check-coverage": false,
    "extension": [
        ".ts"
    ],
    "include": [
        "**/*.ts"
    ],
    "exclude": [
        "coverage/**",
        "**/*.d.ts",
    ],
    "sourceMap": true,
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "all": true,
    "instrument": true
}
